/* http://techcrunch.com/
 * used TechCrunch as my style guide
 */

.mainQuote {
  background: #f9f9f9;
  font: 130%/1.625 "Open Sans",HelveticaNeue,Helvetica,Arial,sans-serif;
  color: #3e433e;
}

.source {
  background: #f9f9f9;
  font: italic 120% "Open Sans",HelveticaNeue,Helvetica,Arial,sans-serif;
  color: #3e433e;
}

.yearsClean {
  background: #f9f9f9;
  font: 90% "Open Sans",HelveticaNeue,Helvetica,Arial,sans-serif;
  color: #3e433e;
}

.location {
  background: #f9f9f9;
  font: 80%/1.5 "Open Sans",HelveticaNeue,Helvetica,Arial,sans-serif;
  color: green;
}

.wholeQuote {
  background: #f9f9f9;	
  font: bold 90% "Open Sans",HelveticaNeue,Helvetica,Arial,sans-serif;
  color: #3e433e;
}

.readMore {
	background: #f9f9f9;
    font: bold 90%/1.625 "Open Sans",HelveticaNeue,Helvetica,Arial,sans-serif;
    font-style: bold;
    color: green;
}

.space {
	background: #f9f9f9;
	height: 5px
}

.empty {
	height: 10px
}

.moreInfo {
	display: none;
}

.expanded .moreInfo {
	display: block;
}/*
  * When there is the expanded class, display the stuff in moreInfo.
  */

